@media (prefers-color-scheme: dark) {.mw-body{background-color: black !important;}.content .infobox {background-color: black !important;}.hatnote{background-color: black !important;}body {color: white !important; }}

